@import './../../../tools/varibaleStyles.scss';

.categories{
    list-style-type: none;
    cursor: pointer;
    background-color: $colorSecondGray;
    padding: 10px 20px;
    border-radius: 20px;
    align-self: center;

    &:hover{
        background-color: $colorHovernGray;
    }
}
.active{
    background-color: $colorMainGray;
}