@import './../../../tools/varibaleStyles.scss';

.main{
    display: flex;
    justify-content: space-around;
    padding: 40px 0;
    .categories{
        overflow: hidden;
        display: flex;
        justify-content: space-around;
        gap: 10px;
    }
}
