@import './../../../tools/varibaleStyles.scss';

.pizza{
    max-width: $wrapWidth;
    margin: 50px auto;
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
        text-align: center;

    }
    h1{
        padding-bottom: 40px;
    }
    ul{
        list-style-type: none;
        padding: 0;
    }
}