@import './../../../tools/varibaleStyles.scss';

.cart{
    img{
        text-align: center;
        align-items: center;
        align-self: center;
        padding: 60px 0;

    }
    .cartBtn{
        text-decoration: none;
        background-color: $colorMainBlack;
        color: white;
        border-radius: 15px;
        padding: 10px 20px;
    }
}