.cart{
    .top{
        display: flex;
        justify-content: space-between;

    }
    .bottom{
        display: flex;
        justify-content: space-between;
    }
    .buttons{
        display: flex;
        justify-content: space-between;

    }
}