.sorts{
    display: flex;
    justify-content: space-around;
    @media (max-width: 655px) {
        display: block;

    }
    .categories{
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
      
    }
}