@import './../../../../tools/varibaleStyles.scss';

.active{
    background-color: white;
    border-radius: 6px;
    padding: 10px 25px;
    cursor: pointer;
} 
.unactive{
    cursor: pointer;
    align-self: center;
}
      
