@import './../../../../tools/varibaleStyles.scss';

.pizza{
    margin: 0 auto;

    .image{
        width: 250px;
    }
    .bottom{
        display: flex;
        justify-content: space-around;
    }
    .category{
        background-color: $colorSecondGray;
        border-radius: 5px;
        padding: 10px 0;
        .dough, .size{
            display: flex;
            justify-content: space-around;
            font-weight: 600;
            font-size: 14px;
            padding: 5px 0;
            .active{
                background-color: white;
                border-radius: 6px;
                padding: 10px 25px;
                cursor: pointer;
            } 
            .unactive{
                cursor: pointer;
                padding: 10px 25px;

            }
               
        }
    }    
}
