@import './../../tools/varibaleStyles.scss';

.search{
    input{
        border-radius: 15px;
        border: 1px solid $colorSecondGray;
        padding: 10px 15px;
        padding-left: 35px;
        width: 400px;

        @media (max-width: 945px){
            width: 250px;
        }
        @media (max-width: 620px){
            width: 159px;
        }
        @media (max-width: 520px){
            display: none;
        }
        &::placeholder{
            color: $colorMainGray;
        }
        &:focus{
            outline: none;
            border: 1px solid $colorMainGray;
            box-shadow: 0 0 10px #c7c7c7;

        }
    }
    img{
        width: 25px;
        position: absolute;
        top: 50px;
        padding-left: 5px;
        @media (max-width: 520px){
            display: none;
        }
    }
}