$colorBackground: #FCDDB0;
$colorHover: #FFFAD7;

$colorMainBtn: #FF9F9F;
$colorSecondBtn: #e37070;

$colorSecondGray: rgba(0, 0, 0, 0.1);
$colorMainBlack: rgb(65, 65, 65);

$colorMainGray: rgba(0, 0, 0, 0.2);
$colorHovernGray: rgba(83, 83, 83, 0.2);

$wrapWidth: 1225px;
